<app-splash></app-splash>

<main class="form-signin">
  <form>
    <div class="container d-flex  justify-content-center"><img class=" mb-1 " src="/assets/Worxflow-360-logo.png" alt="" width="80%" height="100%"></div>
    
    <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" placeholder="Domain">
      <label for="floatingInput">Domain</label>
    </div>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" (click)="navigateToDashboard()">Sign in</button>
    
  </form>
</main>