
<div class="container d-flex  justify-content-center" >
    <div class="container-fluid py-5" >

        <img src="/assets/boss-circle-man-person-profile-staff-user-icon-133441-removebg-preview (1).png"  alt="..." height="50px" ><span class=""><h1>Name and Surname</h1></span> 
        <p>Profile</p>
    </div>
</div>

<div class="container d-flex  justify-content-center" style="background-color: #4B9CD3;">
    <div class=" " >
        <h1>Dashboard</h1>
    </div>
</div>


<div class="container d-flex  justify-content-center py-5">
  <div class="card" style="width: 18rem;">
    <img src="/assets/pencil-and-paper-icon-55.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">Job Cards</p>
      <p class="card-text">10</p>
      <a href="Jobcards" class="btn btn-primary stretched-link">View Jobs</a>
    </div>
  </div>
</div>