

    <div class="row">
        <div class="col-4"> <img src="/assets/boss-circle-man-person-profile-staff-user-icon-133441-removebg-preview (1).png"  alt="..." height="100px" >
        </div>
        <div class="col-8"><img src="/assets/Worxflow-360-logo.png"  alt="..."  height="100px" width="200px"></div>
        
      </div>
      <div class="container d-flex  justify-content-center" style="background-color: #4B9CD3;">
        <div class=" " >
            <h1 style="color: white;">Job Cards</h1>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><a href="Jobcard_tabs">Mark</a></td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><a href="Jobcard_tabs">Jacob</a></td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><a href="Jobcard_tabs">Larry</a></td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-outline-dark btn-sm"><a href="javascript:window.history.back();">Back</a></button>
